@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --post-height: 60dvh;
  --margin-space: 90px;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #0e0d0e;
}

.sign-btn {
  transition: 0.4s ease-in-out;
}

.sign-btn:hover {
  background-color: #a92047;
  color: white;
}

.form-input {
  background-color: #403d3d;
  color: white;
}

.nav-item-container:hover .icon-container {
  background-color: #fc49ae;
}

.menu:hover {
  background-color: #fc49ae;
}

.nav-item-container:hover .icon-container svg {
  color: white;
}

.clip-custom {
  position: absolute;
  clip: rect(0px, 65px, 200px, 0px);
}

.skeleton-img {
  min-width: 500px;
  height: 280px;
}

.custom-scrollbars__content {
	overflow: auto;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.custom-scrollbars__content::-webkit-scrollbar {
	display: none;
}

.post-comments{
  overflow-y: auto;
  max-height: calc(var(--post-height) - var(--margin-space));
}

.post-comments-image{
  max-width: var(--post-height);
  object-fit:fill;
  height: auto;
}

@media screen and (max-width: 768px) {
  :root{
    --post-height: 50dvh;
    --margin-space: 10px;
  }
}

@media screen and (max-width: 600px) {
  .skeleton-img {
    min-width: 80vw;
  }
}
