@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --post-height: 70dvh;
  --post-width: 60dvh;
  --margin-space: 90px;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #0e0d0e;
}

.sign-btn {
  transition: 0.4s ease-in-out;
}

.sign-btn:hover {
  background-color: #a92047;
  color: white;
}

.form-input {
  background-color: #403d3d;
  color: white;
}

.nav-item-container:hover .icon-container {
  background-color: #fc49ae;
}

.menu:hover {
  background-color: #fc49ae;
}

.nav-item-container:hover .icon-container svg {
  color: white;
}

.logout-btn:hover svg {
  color: white;
}

.clip-custom {
  position: absolute;
  clip: rect(0px, 65px, 200px, 0px);
}

.skeleton-img {
  min-width: 500px;
  height: 280px;
}

.custom-scrollbars__content {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.custom-scrollbars__content::-webkit-scrollbar {
  display: none;
}

.post-comments-container {
  width: calc(var(--post-width) - 20px);
}

.post-comments {
  overflow-y: auto;
  max-height: calc(var(--post-height) - var(--margin-space));
}

.post-comments-image {
  max-width: var(--post-width);
  height: auto;
  object-fit: fill;
}

.dark-shadow {
  box-shadow: -2px -2px 4px -1px #848484;
}

.light-shadow {
  box-shadow: -2px -2px 4px -1px #696363;
}

@media screen and (max-width: 797px) {
  :root {
    --post-height: 50dvh;
    --post-width: 50dvh;
    --margin-space: 0px;
  }
}

@media screen and (max-width: 600px) {
  .skeleton-img {
    min-width: 80vw;
  }
}

@media screen and (min-width: 500px) {
  .dark-shadow,
  .light-shadow {
    box-shadow: none;
  }
}
